<a href="https://colab.research.google.com/github/AdegaxX/PROGRAMACAO/blob/main/Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
height = 1.79
weight = 68.7
weight / height ** 2
bmi = weight / height ** 2
print(bmi)

21.44127836209856

In [ ]:
type(bmi) # Tipo Flutuante

float

In [ ]:
day_of_week = 5
type(day_of_week) # Tipo Inteiro

int

In [ ]:
height = 1.79
weight = 68.7

In [ ]:
height

1.79

In [ ]:
weight

68.7

In [ ]:
x = "body mass index"
y = 'this work too'
type(x) # Tipo String = Texto

str

In [ ]:
type(y)

str

In [ ]:
z = True
type(z) # Tipo Booleana

bool

In [ ]:
u = False
type(u)

bool

In [ ]:
A = 'Leandro '
B = 'Nascimento '
C = 'Adegas'
A + B + C # Essa 'junção' se chama Indentação = concatenação

'Leandro Nascimento Adegas'

In [ ]:
(9 + 6) / 2

7.5

In [ ]:
# A hashtag representa um comentário em Python
print(5/8)

0.625

In [ ]:
soma = 5 + 3
subtracao = 5 - 3
print(soma)
print(subtracao)

8
2

In [ ]:
potencia = 5 ** 3 # '**' Representa Potência "elevado à"
mult = 5 * 3 # '*' Representa Multimplicação
resto = 5 % 3 # '%' Representa o Resto da Divisão
print(potencia)
print(mult)
print(resto)

125
15
2

In [ ]:
mult = (100 * ( 11 / 100)) ** 7
print(mult)

19487171.0

In [ ]:
savings = 100
growth_multiplier = 1.1
year1 = savings * growth_multiplier
dasc = "compound interest "
# print(year1)
doble_dasc = dasc + dasc
print(doble_dasc)
print(type(year1))

compound interest compound interest
<class 'float'>

In [ ]:
pi_string = "3.1415926"
pi_float = float(pi_string)

print(pi_string)
print(type(pi_string))
print(pi_float)
print(type(pi_float))

3.1415926
<class 'str'>
3.1415926
<class 'float'>

In [ ]:
savings = 100
result = 100 * 1.10 ** 7

print("I started wth $" + str(savings) + " and now have $" + str(result) + ". Awesome!") # O 'str' transforma o 'int' em uma 'string'
# print("I started wth $" + savings + " and now have $" + result + ". Awesome!") esse dá erro
# Não pode concatenar um numero interiro com uma string
print("I started wth $" , savings , " and now have $" , result , ". Awesome!") # A vírgula "printa" as variáveis usadas

I started wth $100 and now have $194.87171000000012. Awesome!
I started wth $ 100  and now have $ 194.87171000000012 . Awesome!

In [1]:
var = 'Olá mundo'
print(var)

Olá mundo

In [8]:
frutas = ['banana', 'manga', 'pera', 'uva']
num = ['Leandro', 1.68, 'Messias', 1.75]
print(frutas)
print(type(frutas))
print(num)
print(type(num))

['banana', 'manga', 'pera', 'uva']
<class 'list'>
['Leandro', 1.68, 'Messias', 1.75]
<class 'list'>

In [9]:
fam2 = [ ['Matheus', 1.70],
         ['Messias', 1.75],
         ['Mãe', 1.66],
         ['Pai', 1.69] ]
print(fam2)
print(type(fam2))

[['Matheus', 1.7], ['Messias', 1.75], ['Mãe', 1.66], ['Pai', 1.69]]
<class 'list'>

In [15]:
hall = 14.25 # Para alterar um valor da lista, basta atualizar a variável específica sem precisar mexer na lista em si
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = [hall, kit, liv, bed, bath]
print(area)
print(type(area))

[14.25, 18.0, 20.0, 10.75, 9.5]
<class 'list'>

In [18]:
hall = 14.25 # Para alterar um valor da lista, basta atualizar a variável específica sem precisar mexer na lista em si
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath] # Uma string e o seu valor/descrição
print(area)
print(type(area))

['Casa', 14.25, 'cozinha', 18.0, 'sala', 20.0, 'quarto', 10.75, 'banheiro', 9.5]
<class 'list'>

In [20]:
A = [1,2,3] # Uma lista composta por 3 números inteiros
B = [[2,4,6], [1,3,5]] # Uma lista composta por duas sub-listas, cada uma com 3 números inteiros
C = [1+2,'a'*5,3] # Uma lista composta por uma soma de dois números '1+2', a multiplicação de uma string 'a' 5 vezes e um número '3'
print(A , B , C)

[1, 2, 3] [[2, 4, 6], [1, 3, 5]] [3, 'aaaaa', 3]

In [21]:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
house = [
          ['Casa', hall],
          ['cozinha', kit],
          ['sala', liv],
          ['quarto', bed],
          ['banheiro', bath]
        ]
print(house)
print(type(house))

[['Casa', 14.25], ['cozinha', 18.0], ['sala', 20.0], ['quarto', 10.75], ['banheiro', 9.5]]
<class 'list'>

In [28]:
hall = 14.25 # Para alterar um valor da lista, basta atualizar a variável específica sem precisar mexer na lista em si
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
area[2]
print(area[-1])
print(area[0])
print(area[1])
print(area[3])
print(area[4])
print(area[5])
print(area[6])
print(area[7])
print(area[8])
print(area[9])

9.5
Casa
14.25
18.0
sala
20.0
quarto
10.75
banheiro
9.5

In [33]:
hall = 14.25 # Para alterar um valor da lista, basta atualizar a variável específica sem precisar mexer na lista em si
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
print(area[2:7]) # Pega partes de uma lista utilizando "num : num"
print(area[0:4])
print(area[4:9])
print(area[ :4]) # Pega do inicio da lista até o elemento 4
print(area[2: ]) # Pega do elemento 2 até o fim da lista

['cozinha', 18.0, 'sala', 20.0, 'quarto']
['Casa', 14.25, 'cozinha', 18.0]
['sala', 20.0, 'quarto', 10.75, 'banheiro']
['Casa', 14.25, 'cozinha', 18.0]
['cozinha', 18.0, 'sala', 20.0, 'quarto', 10.75, 'banheiro', 9.5]

In [36]:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
print(area[1])
print(area[-1])
print(area[4])

14.25
9.5
sala