<a href="https://colab.research.google.com/github/AdegaxX/PROGRAMACAO/blob/main/Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
height = 1.79
weight = 68.7
weight / height ** 2
bmi = weight / height ** 2
print(bmi)

21.44127836209856

In [ ]:
type(bmi) # Tipo Flutuante

float

In [ ]:
day_of_week = 5
type(day_of_week) # Tipo Inteiro

int

In [ ]:
height = 1.79
weight = 68.7

In [ ]:
height

1.79

In [ ]:
weight

68.7

In [ ]:
x = "body mass index"
y = 'this work too'
type(x) # Tipo String = Texto

str

In [ ]:
type(y)

str

In [ ]:
z = True
type(z) # Tipo Booleana

bool

In [ ]:
u = False
type(u)

bool

In [ ]:
A = 'Leandro '
B = 'Nascimento '
C = 'Adegas'
A + B + C # Essa 'junção' se chama Indentação = concatenação

'Leandro Nascimento Adegas'

In [ ]:
(9 + 6) / 2

7.5

In [ ]:
# A hashtag representa um comentário em Python
print(5/8)

0.625

In [ ]:
soma = 5 + 3
subtracao = 5 - 3
print(soma)
print(subtracao)

8
2

In [ ]:
potencia = 5 ** 3 # '**' Representa Potência "elevado à"
mult = 5 * 3 # '*' Representa Multimplicação
resto = 5 % 3 # '%' Representa o Resto da Divisão
print(potencia)
print(mult)
print(resto)

125
15
2

In [ ]:
mult = (100 * ( 11 / 100)) ** 7
print(mult)

19487171.0

In [ ]:
savings = 100
growth_multiplier = 1.1
year1 = savings * growth_multiplier
dasc = "compound interest "
# print(year1)
doble_dasc = dasc + dasc
print(doble_dasc)
print(type(year1))

compound interest compound interest
<class 'float'>

In [ ]:
pi_string = "3.1415926"
pi_float = float(pi_string)

print(pi_string)
print(type(pi_string))
print(pi_float)
print(type(pi_float))

3.1415926
<class 'str'>
3.1415926
<class 'float'>

In [ ]:
savings = 100
result = 100 * 1.10 ** 7

print("I started wth $" + str(savings) + " and now have $" + str(result) + ". Awesome!") # O 'str' transforma o 'int' em uma 'string'
# print("I started wth $" + savings + " and now have $" + result + ". Awesome!") esse dá erro
# Não pode concatenar um numero interiro com uma string
print("I started wth $" , savings , " and now have $" , result , ". Awesome!") # A vírgula "printa" as variáveis usadas

I started wth $100 and now have $194.87171000000012. Awesome!
I started wth $ 100  and now have $ 194.87171000000012 . Awesome!

In [ ]:
var = 'Olá mundo'
print(var)

Olá mundo

In [ ]:
frutas = ['banana', 'manga', 'pera', 'uva']
num = ['Leandro', 1.68, 'Messias', 1.75]
print(frutas)
print(type(frutas))
print(num)
print(type(num))

['banana', 'manga', 'pera', 'uva']
<class 'list'>
['Leandro', 1.68, 'Messias', 1.75]
<class 'list'>

In [ ]:
fam2 = [ ['Matheus', 1.70],
         ['Messias', 1.75],
         ['Mãe', 1.66],
         ['Pai', 1.69] ]
print(fam2)
print(type(fam2))

[['Matheus', 1.7], ['Messias', 1.75], ['Mãe', 1.66], ['Pai', 1.69]]
<class 'list'>

In [ ]:
hall = 14.25 # Para alterar um valor da lista, basta atualizar a variável específica sem precisar mexer na lista em si
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = [hall, kit, liv, bed, bath]
print(area)
print(type(area))

[14.25, 18.0, 20.0, 10.75, 9.5]
<class 'list'>

In [ ]:
hall = 14.25 # Para alterar um valor da lista, basta atualizar a variável específica sem precisar mexer na lista em si
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath] # Uma string e o seu valor/descrição
print(area)
print(type(area))

['Casa', 14.25, 'cozinha', 18.0, 'sala', 20.0, 'quarto', 10.75, 'banheiro', 9.5]
<class 'list'>

In [ ]:
A = [1,2,3] # Uma lista composta por 3 números inteiros
B = [[2,4,6], [1,3,5]] # Uma lista composta por duas sub-listas, cada uma com 3 números inteiros
C = [1+2,'a'*5,3] # Uma lista composta por uma soma de dois números '1+2', a multiplicação de uma string 'a' 5 vezes e um número '3'
print(A , B , C)

[1, 2, 3] [[2, 4, 6], [1, 3, 5]] [3, 'aaaaa', 3]

In [ ]:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
house = [
          ['Casa', hall],
          ['cozinha', kit],
          ['sala', liv],
          ['quarto', bed],
          ['banheiro', bath]
        ]
print(house)
print(type(house))

[['Casa', 14.25], ['cozinha', 18.0], ['sala', 20.0], ['quarto', 10.75], ['banheiro', 9.5]]
<class 'list'>

In [ ]:
hall = 14.25 # Para alterar um valor da lista, basta atualizar a variável específica sem precisar mexer na lista em si
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
area[2]
print(area[-1])
print(area[0])
print(area[1])
print(area[3])
print(area[4])
print(area[5])
print(area[6])
print(area[7])
print(area[8])
print(area[9])

9.5
Casa
14.25
18.0
sala
20.0
quarto
10.75
banheiro
9.5

In [ ]:
hall = 14.25 # Para alterar um valor da lista, basta atualizar a variável específica sem precisar mexer na lista em si
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
print(area[2:7]) # Pega partes de uma lista utilizando "num : num"
print(area[0:4])
print(area[4:9])
print(area[ :4]) # Pega do inicio da lista até o elemento 4
print(area[4: ]) # Pega do elemento 2 até o fim da lista

['cozinha', 18.0, 'sala', 20.0, 'quarto']
['Casa', 14.25, 'cozinha', 18.0]
['sala', 20.0, 'quarto', 10.75, 'banheiro']
['Casa', 14.25, 'cozinha', 18.0]
['sala', 20.0, 'quarto', 10.75, 'banheiro', 9.5]

In [ ]:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
print(area[1])
print(area[-1])
print(area[4])

14.25
9.5
sala

In [ ]:
# Aula 29/03/2023:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
eat_sleep_area = area [3] + area [5] # Soma dos valores que estão dentro da lista
print(eat_sleep_area)
print(eat_sleep_area * 2)

38.0
76.0

In [ ]:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]

downstairs = area [ :6]
upstairs = area [6: ]
print(downstairs)
print(upstairs)

['Casa', 14.25, 'cozinha', 18.0, 'sala', 20.0]
['quarto', 10.75, 'banheiro', 9.5]

In [ ]:
list = [
       ['a', 'b', 'c'],
       ['d', 'e', 'f'],
       ['g', 'h', 'i']
       ]

print(list[-1][1]) # Pega a última sublista [-1] e o segundo elemento da sublista [1]

hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
house = [
        ['Casa', hall],
        ['cozinha', kit],
        ['sala', liv],
        ['quarto', bed],
        ['banheiro', bath]
        ]
print(house[-1][1]) # Pega a última sublista [-1] e o segundo elemento da lista [1]
print(house[2][0]) # Pega a terceira sublista [2] e o primeiro elemento da lista [0]

h
9.5
sala

In [ ]:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
print(area)
area [3] = 20.0 # Substitui do valor do elemento 'kit' (18.0) por 20.0
print(area)

['Casa', 14.25, 'cozinha', 18.0, 'sala', 20.0, 'quarto', 10.75, 'banheiro', 9.5]
['Casa', 14.25, 'cozinha', 20.0, 'sala', 20.0, 'quarto', 10.75, 'banheiro', 9.5]

In [ ]:
hall = 14.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]

area [0:2] = 'house', 15
print(area)

['house', 15, 'cozinha', 18.0, 'sala', 20.0, 'quarto', 10.75, 'banheiro', 9.5]

In [ ]:
fam = ['liz', 1.79, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]
fam + ['me', 1.65]
familia = fam + ['me', 1.65] # Adiciona 'me' e 1.65 na lista familia
print(fam)
print(familia)
del(familia[2]) # Deleta o elemento três da lista [2]
print(familia)

['liz', 1.79, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]
['liz', 1.79, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.65]
['liz', 1.79, 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.65]

In [ ]:
x = ['a', 'b', 'c']
y = x # Fez com que x e y sejam a mesma coisa
y[1] = 'z'
print(y)
print(x)

['a', 'z', 'c']
['a', 'z', 'c']

In [ ]:
x = ['a', 'b', 'c']
y = list(x) # usando isto, faz com que o valor de 'x' não se altere e coloca a lista de 'x' em 'y' que irá receber os mesmos valores. Alterando 'y' não irá afetar o 'x'.
y[1] = 'z'
print(x)
print(y)

TypeError: ignored

In [ ]:
area = ['Casa', hall,'cozinha', kit, 'sala', liv, 'quarto', bed, 'banheiro', bath]
print(area)
area [9] = 10.9
area [4] = 'sala-de-estar'
print(area)

['Casa', 14.25, 'cozinha', 18.0, 'sala', 20.0, 'quarto', 10.75, 'banheiro', 9.5]
['Casa', 14.25, 'cozinha', 18.0, 'sala-de-estar', 20.0, 'quarto', 10.75, 'banheiro', 10.9]

In [ ]:
# atividade de classe 8)
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.50]
print(areas)
areas_1 = areas + ["poolhouse", 24.5]
print(areas_1)

# atividade de classe 8.1)
areas_2 = areas_1 + ["garage", 15.5]

# atividade de classe 8.2)
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.5]

In [ ]:
# atividade de classe 9)
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
areas_copy = list(areas) # Atribui a lista 'areas' à 'areas_copy', fazendo uma cópia
areas_copy[0] = 5.0 # Substitui o '11.25' por '5.0'
print(areas)
print(areas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]

In [ ]:
# 1) Elabore um código em que existe as variáveis : aluno, nota1, nota2,nota3, media. Neste código você deve escolher uma string para a variável aluno, float para cada nota. Pesquise o cálculo da média aritmética e aplique o resuldado do cálculo na variável media. Por fim, usando o comando print, mostre o nome do aluno ao lado de sua media. Use a função print para mostrar o tipo da variável aluno e tipo da variável media.

#Resposta
aluno = "Adegax"
nota1 = 10
nota2 = 10.5
nota3 = 9.5
media = (10+10.5+9.5)/3
#exibição da variável media
print(media) 
#exibição do tipo da variavel aluno
print(aluno)
#exibição do tipo da variavel media
print(type(media))

10.0
Adegax
<class 'float'>

In [ ]:
# 2) ELabore um código que realiza a concatenção de strings para formar um nome. Ao fim, exiba, através do comando print, o nome concatenado (nome_completo).
#RESPOSTA
nome = "Leandro "
sobrenome = "Adegas"
nome_completo = nome + sobrenome
#exibição do nome concatenado
print(nome_completo)

Leandro Adegas

In [ ]:
# 3) Elabore um código em que seja criada uma lista de alimentos em forma de string. Nesta lista você deve escolher  10 alimentos.
# a) realize o print do último alimento usando index negativo
# b) realize o print do quarto elemento da lista
# c) realize o print dos 5 primeiros elementos da lista
# d) realize o print do 3 ultimos elementos da lista
# e) realize o print do terceiro até o sétimo elemento da lista

#Resposta
lista_de_alimentos = ['Pão', 'ovo', 'macarrão', 'arroz', 'feijão', 'açaí', 'caviar', 'ketchup', 'salsicha', 'dindin']
print(lista_de_alimentos)
#item a
print(lista_de_alimentos[-1])
#item b
print(lista_de_alimentos[3])
#item c
print(lista_de_alimentos[ :5])
#item d
print(lista_de_alimentos[7: ])
#item e
print(lista_de_alimentos[2:8])

['Pão', 'ovo', 'macarrão', 'arroz', 'feijão', 'açaí', 'caviar', 'ketchup', 'salsicha', 'dindin']
dindin
arroz
['Pão', 'ovo', 'macarrão', 'arroz', 'feijão']
['ketchup', 'salsicha', 'dindin']
['macarrão', 'arroz', 'feijão', 'açaí', 'caviar', 'ketchup']

In [ ]:
# 4) Adapte a lista de alimentos criada na questão 3 para incluir o preço da cada alimento. Após cada string você deve incluir um valor numérico que representa o preço do alimento
# a) Crie uma variavel `gasto_total` que recebe a soma de todos os preços, acessando a lista pelos indexes.
# b) mostre via print o valor da variável `gasto_total`
# c) crie uma nova lista chamada `alimentos_mais_caros` que contem os 3 alimentos mais caros. Nessa lista deve conter os alimentos com valor ao lado. a inclusão dos elementos na lista deve ser via index. Ex: `lista_nova = [lista_antiga[2],lista_antiga[3]...]`
# d) mostre via print a lista `alimentos_mais_caros`

#resposta
preco = ['Pão', 4.50, 'ovo', 20.50, 'macarrão', 5.00, 'arroz', 5.50, 'feijão', 8.50, 'açaí', 12.60, 'caviar', 120.50, 'ketchup', 3.30, 'salsicha', 5.4, 'dindin',2.50]
#item a
gasto_total = preco[1]+preco[3]+preco[5]+preco[7]+preco[9]+preco[11]+preco[13]+preco[15]+preco[17]+preco[19]
#item b
print(gasto_total)
#item c
alimentos_mais_caros = [preco[12:14], preco[2:4], preco[10:12]] # O primeiro valor é o que realmente quer e o segundo valor é um depois
#item d
print(alimentos_mais_caros)

188.3
[['caviar', 120.5], ['ovo', 20.5], ['açaí', 12.6]]

In [ ]:
# 5) Adpate a lista de alimentos criada na questão 4. Agora a estrutura deve ser uma lista de listas. cada elemento com preço deve ser um lista, ou seja, a lista de alimentos deve conter 5 listas, em que cada lista possui um alimento e seu preço.
# a) Crie uma variável `lista3` para ammazenar a terceiira lista contida na lista de alimentos. 
# b) Exiba a variável `lista3` 
# c) Crie uma variável `lista2a4` para armazenar da segunda até a quarta lista contida na lsita de alimentos.
# d) Acessando os indexes da lista de alimentos no modo exemplo `lista[id1][id2]` realize os prints:
#  d1) do preço do terceiro alimento da lista
#  d2) do alimento da quarta lista
#  d3) do preço do quinto elemento da lista
#  d4) do alimento da primeira lista.

#resposta
adaptada = [
            ['Pão', 4.50],
            ['ovo', 20.50],
            ['macarrão', 5.00],
            ['arroz', 5.50],
            ['feijão', 8.50],
            ['açaí', 12.60],
            ['caviar', 120.50],
            ['ketchup', 3.30],
            ['salsicha', 5.4],
            ['dindin',2.50]
           ]
#item a
lista3 = adaptada[2]
#item b
print(lista3)
#item c
lista2a4 = adaptada[1:4]
print(lista2a4)
#item d1
print(adaptada[2][1])
#item d2
print(adaptada[3][0])
#item d3
print(adaptada[4][1])
#item d4
print(adaptada[0][0])

['macarrão', 5.0]
[['ovo', 20.5], ['macarrão', 5.0], ['arroz', 5.5]]
5.0
arroz
8.5
Pão